{% extends 'base.html' %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


{% block content %}

<div class = "container">
        <form class="form-signin" action="{% url 'usersapp:signin' %}" method="POST">
            <h2 class="form-signin-heading">Please sign in</h2>

            {% csrf_token %}
            {{ form.as_p }}

			<input type="hidden" name="next" value="{{ next }}" />

            <button type="submit" class="btn btn-lg btn-primary">Sign in</button>
            <a href = "{% url 'usersapp:signup' %}">
                <button type="button" class="btn btn-lg">Sign Up</button>
            </a>
        </form> 
</div>
{%  endblock %}
